*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: url(istockphoto-514802759-612x612.jpg);
     background-size: cover;

}
.wrapper{
    width: 410px;
    height: 600px;
    border: 3px solid;
    background: transparent;
    color: bisque;
    border-radius: 12px;
    backdrop-filter: blur(30px);
  
}
.wrapper h1{
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}
.wrapper .inputbox ::placeholder{
    color: whitesmoke;
}
.wrapper .inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:2px solid whitesmoke;
    border-radius: 40px;
    padding: 15px 40px 15px 15px;
    font-size: 16px;
    font-weight: 500;
}
.wrapper .inputbox i{
    position: relative;
    top: -35px;
    left: 370px;
    font-size: 20px;
    color: whitesmoke;
  
}
.wrapper .btn{
    width: 100%;
    height: 40px;
    border:none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color: purple;
    cursor: pointer;
}
.wrapper .btn:hover{
    background-color: aquamarine;
    transition: 0.2s;
    border: 2px solid black;
}
.wrapper .signup{
   position: relative;
   left: 30px;
}
.wrapper .signup{
   position: relative;
   left: 30px;
}
.wrapper .signup:hover {
    text-decoration: underline;
}
.wrapper p {
   color: whitesmoke;
   position: relative;
   top: 20px;
}
.wrapper a{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 170px;
}
